{% extends "contents.html" %}
{% load cms_tags menu_tags %}
{% block main_contents %}
	<!--tabs with articles-->
		<div class="tabbable well">
			<!--tabs for different articles-->
			<ul class ="nav nav-tabs">
				<li class="active span4"> <a href="#tab1" data-toggle='tab'>{% placeholder article_tab_1  or %} not yet added {% endplaceholder  %}</a></li>
				<li class="span4"> <a href="#tab2" data-toggle='tab'>{% placeholder article_tab_2 or %} not yet added {% endplaceholder  %}</a></li>
				<li class="span4"> <a href="#tab3" data-toggle='tab'>{% placeholder article_tab_3 or %} not yet added {% endplaceholder  %}</a></li>
			</ul>
			<!--contents for each tab-->
			<div class="tab-content" style="text-align: left">  
				<div class="tab-pane active" id="tab1">  
					<!--content for tab 1-->
					{% placeholder article_1 or %}not yet added{% endplaceholder  %}  
				</div>  
				<div class="tab-pane" id="tab2">  
					<!--content for tab 1--> 
					{% placeholder article_2 or %} not yet added {% endplaceholder  %}  
				</div>  
				<div class="tab-pane" id="tab3">  
					<!--content for tab 1--> 
					{% placeholder article_3 or %} not yet added {% endplaceholder  %} 
			</div>  
		</div>	
	</div>
{% endblock %}
